@charset "utf-8";
body{
	font-family: 'sri_sury_wongseregular';
	color:#000;
	}
a,button{
	-moz-transition: color .1s ease-in,background-color .1s ease-in, background-image .1s ease-in;
     -o-transition: color .1s ease-in,background-color .1s ease-in, background-image .1s ease-in;
     -webkit-transition: color .1s ease-in,background-color .1s ease-in, background-image .1s ease-in;
     transition: color .1s ease-in,background-color .1s ease-in, background-image .1s ease-in;
	 text-decoration:none;
	 }
a:hover, a:focus {
	text-decoration:none;
	}
h1{ font-size:36px;}
h2{ font-size:30px;}
h3{ font-size:24px;}
h4{ font-size:18px;}
h5{ font-size:15px;}
.nopadding{
	padding:0;
	}
.nopaddingright{
	padding-right:0;
	}
.nopaddingleft{
	padding-left:0;
	}
.nomargin{
	margin:0;
}
.nomarginleft {
	margin-left:0;
}
.nomarginright {
	margin-right:0;
}

.box-top-list2f ul li a:hover,
.box-top-list2f ul li a:focus,
.top-contact2f ul li a:hover,
.top-contact2f ul li a:focus,
.footer-address2f a:hover{
    color: #fff;
    background-color: #68b625;
	}
#top-header2f{
	border-bottom:1px solid #eaeaea;
	position:relative;
	float:left;
	width:100%;
	background-color: #ebeff2;
	}
.box-top2f{
	float:right;
	}	
.box-top-list2f{
    float: left;
    background-image: url('../images/line-menu.png');
    background-repeat: no-repeat;
    background-position: right;
	}	
.box-top-language2f{
    font-size: 18px;
    color: #444444;
    float: left;
    padding-top: 8px;
    padding-left: 25px;
	}
.box-top-language2f select{
    border: none;
	background-color: #ebeff2;
    padding-top: 0;
    width: 50px;
    background-image: url('../images/bg-select.png');
    background-repeat: no-repeat;
    background-position: right;
    -webkit-appearance: none;
	}
.box-top-list2f ul li a{
	font-size:18px;
	color:#444444;
    padding: 9px 20px 11px 20px;
	display: inline-block;
	}
.box-top-list2f ul li a.i-home {
	background-image: url('../images/home.png');
	background-repeat: no-repeat;
	background-position: 15px;
	padding-left: 40px;
}
.box-top-list2f .list-inline > li {
    display: inline-block;
	padding:0;
}
.box-top-list2f .list-inline {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}
.mainmenu-top02 {
	padding-top: 33px;
	padding-bottom: 38px;
}
.box-top-list2f ul li img{
    position: relative;
    margin-right: 8px;
    top: -3px;
	}	
.box-top-social2f{
	float:left;
	margin-left:30px;
	margin-top: 6px;
	}	
.box-top-social2f ul li{
	padding:0 3px;
	}		
.box-top-social2f ul li a{
    display: block;
    width: 25px;
    height: 26px;
    background-repeat: no-repeat;
	}	
.box-top-social2f ul li a.i-facebook{
	background-image:url(../images/facebook.png);
	}	
.box-top-social2f ul li a.i-facebook:hover,
.box-top-social2f ul li a.i-facebook:focus{
	background-image:url(../images/facebook-hover.png);
	}
.box-top-social2f ul li a.i-twitter{
	background-image:url(../images/twitter.png);
	}	
.box-top-social2f ul li a.i-twitter:hover,
.box-top-social2f ul li a.i-twitter:focus{
	background-image:url(../images/twitter-hover.png);
	}	
.box-top-social2f ul li a.i-facebook-top {
    background-image: url(../images/facebook-top.png);
}
.box-top-social2f ul li a.i-twitter-top {
    background-image: url(../images/twitter-top.png);
}
.box-top-social2f ul li a.i-facebook-top:hover {
    background-image: url(../images/facebook-top-hover.png);
}
.box-top-social2f ul li a.i-twitter-top:hover {
    background-image: url(../images/twitter-top-hover.png);
}
.box-top-search2f{
	width:165px;
	float:left;
	margin-left:10px;
	}
.box-top-search2f .form-control{
	height:25px;
	background-color:#F0F0F0;
	border:none;
	border-radius:8px 0 0 8px;
	}
.box-top-search2f .input-group-addon {
    padding: 4px 6px 0 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #F0F0F0;
    border: none;
    border-radius:0 8px 8px 0;
}						
.logo2f{
	position:relative;
	float:left;
	}
.logo2f a{
	display:block;
	}
.logo2f  .img-logo2f{
    float: left;
	}
.img-logo2f img{
	height:55px;
	}	
.webname2f{
	float:left;
	font-family: 'ThaiSansLiteRegular';
	position: relative;
	top: -2px;
	}	
.webname01{
    font-size: 28px;
    color: #802C8B;
    font-weight: bolder;
    line-height: 28px;
    padding-bottom: 3px;

	}	
.webname02{
    font-size: 22px;
    color: #637480;
    line-height: 22px;
	}		
#menu2f .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color:transparent;
  padding: 0;
}
#menu2f .navbar-default {
  background-color:transparent;
  border-color:transparent;
}
#menu2f .navbar {
    position: relative;
    min-height: inherit;
    margin-bottom: 0px;
    border: none;
}
#menu2f .nav > li{
	background-repeat:no-repeat;
	background-position: right center;
	background-image:url(../images/line-menu.png);
	}
#menu2f .nav > li:last-child{
	background-image:none;
	}	

#menu2f .nav > li > a {
	position: relative;
	padding: 6px 20px 10px 22px;
	font-size:22px;
	color:#444444;
	}
.text-copyright-right {
	font-size: 20px;
	color:#999;
	text-align: right;
}

#menu2f .navbar-nav > li > a:hover,
#menu2f .navbar-nav > li.active > a,
#menu2f .navbar-default .navbar-nav > .active > a,
#menu2f .navbar-default .navbar-nav > .active > a:hover,
#menu2f .navbar-default .navbar-nav > .active > a:focus {
	color:#7ad53a;
	background-color: transparent;
	}
#menu2f .nav > li.dropdown.open > a{
	background-image:none;
	}	
#menu2f .container-fluid{
	padding-right:0;
	}		
#mainmenu2f{
	clear:both;
	border-bottom:5px solid #006637;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color:#7ad53a;
	background-color: none;
}
	.navbar-toggle .icon-bar {width: 35px;height: 4px;border-radius: 0px;}
	.navbar-default .navbar-toggle {border: none;}
	.navbar-default .navbar-toggle .icon-bar {background-color: #006637;}
.shopping {
	-moz-box-shadow:inset 0px 0px 0px 0px #ed8e21;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ed8e21;
	box-shadow:inset 0px 0px 0px 0px #ed8e21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f86a28), color-stop(1, #db4513));
	background:-moz-linear-gradient(top, #f86a28 5%, #db4513 100%);
	background:-webkit-linear-gradient(top, #f86a28 5%, #db4513 100%);
	background:-o-linear-gradient(top, #f86a28 5%, #db4513 100%);
	background:-ms-linear-gradient(top, #f86a28 5%, #db4513 100%);
	background:linear-gradient(to bottom, #f86a28 5%, #db4513 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f86a28', endColorstr='#db4513',GradientType=0);
	background-color:#f86a28;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #c23d00;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 0px 0px #f59a08;
}
.shopping:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #db4513), color-stop(1, #f86a28));
	background:-moz-linear-gradient(top, #db4513 5%, #f86a28 100%);
	background:-webkit-linear-gradient(top, #db4513 5%, #f86a28 100%);
	background:-o-linear-gradient(top, #db4513 5%, #f86a28 100%);
	background:-ms-linear-gradient(top, #db4513 5%, #f86a28 100%);
	background:linear-gradient(to bottom, #db4513 5%, #f86a28 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#db4513', endColorstr='#f86a28',GradientType=0);
	background-color:#db4513;
}
.shopping:active {
	position:relative;
	top:1px;
}

.shopping {
	float: left;
	border-radius: 5px;
}
.layoutmenu {
	float: right;
	padding-top: 17px;
}
.text-footer2f-left {
	text-align: left;
	font-size: 60px;
	padding-top: 15px;
	line-height: 48px;
}
.footer-facebook {
	text-align: left;
}
.box-footer-social2f {
	text-align: left;
	margin-top:25px;
}
.box-footer-social2f ul li a {
    display: block;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
}
.box-footer-social2f ul li a.i-facebook {
    background-image: url(../images/facebook.png);
}
.box-footer-social2f ul li a.i-facebook:hover {
    background-image: url(../images/facebook-hover.png);
}
.box-footer-social2f ul li a.i-twitter {
    background-image: url(../images/twitter.png);
}
.box-footer-social2f ul li a.i-twitter:hover {
    background-image: url(../images/twitter-hover.png);
}
.footer2f {
	background-color: #ebeff2;
}
.box-footer-social2f .list-inline > li {
    display: inline-block;
    padding-right: 0px;
    padding-left: 0px;
}
.text-footer {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 15px;
}
.text-footer p{
	font-size: 20px;
	color: #0d9100;
	padding-top: 5px;
}
.text-footer span{
	font-size: 20px;
	color: #000;
	padding-top: 5px;
	display: block;
}
.text-footer span a{
	margin-left:20px;
	margin-right: 20px;
	color:#000;
}
.layout-footer {
	background-image:url('../images/line-footer.jpg');
	background-position: 0px 10px;
	background-repeat: no-repeat;
}
.text-footer form input[type=text] {
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    border:none;
    background-color: white;
    background-image: url('../images/img-box-footertest.png');
    background-position: right;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
.text-footer form {
	padding-top: 15px;
}

.layout-menu-footer2f {
    width: 100%;
    bottom: 0;
}
.layout-menu-footer2f ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
}
.layout-menu-footer2f ul li {
    display: inline-block;
    font-size: 30px;
    background-image: url('../images/line-menu-footer.jpg');
    background-repeat: no-repeat;
    background-position: right;
    padding: 10px 35px;
}
.layout-menu-footer2f ul li a{
    color: #2c2c2c;
}
.layout-menu-footer2f ul li a:hover{
    color: #0d9100;
}

.layout-menu-footer2f ul li:last-child {
 background: none;
}

.layout-menu-footer2f ul li:first-child {
  padding-left: 0;
}
.text-copyright-left {
	font-size: 20px;
	color: #999999;
}
.text-copyright-left a{
	color:#95ce4d;
}
.text-copyright-left a:hover{
	color:#0c9100;
}
.copyright {
	background-color: #444444;
	padding:8px 0;
}
.text-copyright-left span {
	color:#95ce4d;
}
.text-copyright-left span img {
	padding:0 10px;
}
.text-footer span.fixwidth {
    font-size: 20px;
    color: #000;
    padding-top: 5px;
    display: block;
    width: 40%;
    float: left;
}
.text-copyright-right a{
	color: #999;
}
.text-copyright-right a:hover{
	color: #fff;
}
.box-top-list2f ul li a.i-home:hover {
    background-image: url(../images/home-hover.png);
    background-repeat: no-repeat;
    background-position: 15px;
    padding-left: 40px;
}