@charset "utf-8";

body{
	font-family: 'DBHelvethaicaXMedCondv3_2' ;
	color:#363636;
	}
a,button{
	-moz-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in;
     -o-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in;
     -webkit-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in;
     transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in;
	 text-decoration:none;
	 }
a:hover, a:focus {
	text-decoration:none;
	}
h1{ font-size:36px;}
h2{ font-size:30px;}
h3{ font-size:24px;}
h4{ font-size:18px;}
h5{ font-size:15px;}
.nopadding{
	padding:0;
	}
.nopaddingright{
	padding-right:0;
	}
.nopaddingleft{
	padding-left:0;
	}
.form-control {
    display: block;
    width: 100%;
    height: 32px;
    padding: 4px 12px;
    font-size:20px;
    line-height: 24px;
    color:#808A8E;
    background-color: #fff;
    background-image: none;
    border: 1px solid #DDDDDD;
    border-radius: 0;
    -webkit-box-shadow:none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}
.form-control::-webkit-input-placeholder { color: #808A8E;}
.form-control:-moz-placeholder { /* Firefox 18- */ color: #808A8E;  }
.form-control::-moz-placeholder {  /* Firefox 19+ */ color:#808A8E;  }
.form-control:-ms-input-placeholder {  color: #808A8E;  }	
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: thin dotted;
    outline:none;
    outline-offset:none;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow:none;
    box-shadow:none;
	}
 #map-canvas { height: 100% }	

.tabmenu {
    height: 90px;
    width: 100%;
        background-image: url(../images/bg_tophead.jpg);
    background-size: 100%;
}
.layoutmenu {
    padding-top: 10px;
}
.icon_menu {
    padding-top:20px;
}
.icon_menu ul li {
    display: inline-block;
    padding-left: 20px;
}
.icon_menu ul li a {
    height: 30px;
    width:30px;
}
.i-facebook {
    display: block;
    background-image: url(../images/icon-menufacebook.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.7s;
}
.i-facebook:hover {
    background-image: url(../images/icon-menufacebook-hover.png);
}
.i-line {
    display: block;
    background-image: url(../images/icon-menuline.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.7s;
}
.i-line:hover {
    background-image: url(../images/icon-menuline-hover.png);
}
.i-youtube {
    display: block;
    background-image: url(../images/icon-menuyoutube.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.7s;
}
.i-youtube:hover {
    background-image: url(../images/icon-menuyoutube-hover.png);
}
.i-ig {
    display: block;
    background-image: url(../images/icon-menuig.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.7s;
}
.i-ig:hover {
    background-image: url(../images/icon-menuig-hover.png);
}
.i-comment {
    display: block;
    background-image: url(../images/icon-menucomment.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.7s;
}
.i-comment:hover {
    background-image: url(../images/icon-menucomment-hover.png);
}
.i-letter {
    display: block;
    background-image: url(../images/icon-menuletter.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.7s;
}
.i-letter:hover {
    background-image: url(../images/icon-menuletter-hover.png);
}
.menu_language {
    padding-top: 20px;
}
.img_logo {
    width:100%;
    transition: 0.6s;
}
.img_logo:hover {
    opacity: 0.6;
}
.img_logo img {
    max-width: 100%;
    width:100%;
    height: auto;
    border-radius: 50%;
}
/*.language_en {
        float: left;
    width: 50%;
    padding-top: 3px;
    text-align: center;
    border: 1px solid #fff;
    border-right: none;
    height: 25px;
    background-color: transparent;
    border-radius: 5px 0 0 5px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.language_en:hover {
    background-color: #393938;
    color:#fceb00;
}
.language_th {
        float: left;
    width: 50%;
    text-align: center;
    border: 1px solid #fff;
    border-left: none;
    padding-top: 3px;
    height: 25px;
    background-color: transparent;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.language_th:hover {
    background-color: #393938;
    color:#fceb00;
}*/
.topheader {

    height: 30px;
    width:100%;
    background-color: #1D1D1B;
}