@charset "utf-8";

.topmenu2f{
	position:fixed;
	height:auto;
	width:100%;
	z-index:100;
	}
.wrapper2f.active .topmenu2f{
	background-color:rgba(0,0,0,0.65);
	}	
.topmenu2f .navbar-brand{
	    padding: 0 0 0 15px;
	}
.topmenu2f .navbar-default {
    background:none;
    border: none;
	}
.topmenu2f .nav > li > a:hover,	
.topmenu2f .navbar-default .navbar-nav > .active > a, 
.topmenu2f .navbar-default .navbar-nav > .active > a:hover, 
.topmenu2f .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
	border-bottom: 3px solid #fdee00;
    background:none ;
	}		
#section0{
	background-image:url(../images/s1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	line-height:0;
	}
#section1{
	background-image:url(../images/bg-pink.jpg);
	background-repeat: no-repeat;
    background-position: center bottom;
	background-size: 100% auto;
	padding-bottom:70px;
	}	
#section2{
	background-image:url(../images/bg-blue.jpg);
	background-repeat: no-repeat;
    background-position: center top;
	background-size: 100% auto;
	padding-bottom:70px;
	
	}
#section2 .container{
	min-height:850px;
	}			
.topmenu2f {
	padding-top:20px;
	padding-bottom:20px;
	}	
.topmenu2f .navbar{
	margin:0;
	}	
.topmenu2f .nav > li > a{
    font-size: 25px;
    padding: 0;
    margin: 15px 20px;
    line-height: 25px;
	padding-bottom:3px;
	color:#fff;
	}	
.img-jk01{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	}
.img-jk01 img{
	max-width:100%;
	}		
.topmenu2f .container,
.content-section01 .container,
.content-section02 .container,
.footer-content2f .container{
	max-width:940px;
	}	
.intro{
	position:relative;
	z-index:10;
	line-height:normal;
	text-align:center;
	}	
.intro h1{
    font-size: 240px;
    line-height: 240px;
	opacity:0.8;
	}
.intro h2 > span{
	font-size:100px;
	line-height:80px;
	}	
.intro h2 > span.t-jk01{
	opacity:1;
	color:#fff;
	background-color:rgba(0,0,0,0.5);
	padding:0 10px;
	margin-right:20px;
	}
.intro h2 > span.t-jk02{
	opacity:0.4;
	color:#000;
	}	
#section1 .fp-tableCell,
#section2 .fp-tableCell,
#section3 .fp-tableCell{
	vertical-align:top;
	}	
.content-section01 h1,
.content-section02 h1{
	text-align:center;
	font-size:50px;
	background-repeat:no-repeat;
	background-position:center bottom;
	
	}
.content-section01 h1{
	background-image:url(../images/line-gray.jpg);
	color:#363636;
	margin-bottom:30px;
	}
.content-section02 h1{
	background-image:url(../images/line-white.jpg);
	color:#fff;
	margin-bottom:70px;
	}			
.content-section01{
	padding-top:100px;
	}	
.content-section02{
	margin-top:140px;
	}	
.content-facility2f ul{
	list-style:none;
	}	
.content-facility2f ul li{
	margin-bottom:20px;
	line-height:0;
	font-size:30px;
	float:left;
	width:100%;
	}	
.content-facility2f ul li img{
	margin-right:20px;
	float:left;
	}		
.content-facility2f ul li span{
	display: table-cell;
	height: 70px;
	vertical-align: middle;
	}		
.img-facility2f{
    position: absolute;
    min-height: 525px;
    top: 0;
    width: 100%;
    
	}	
.img-facility2f > div{
	position:absolute;
	bottom:0;
	width:100%;
	}	
.img-facility2f img{

	}
.img01{
	text-align:right;
	position:relative;
	top: 15px;
	right: -130px;
	}		
.img02{
	text-align:center;
	}	
.img-detail01 img{
	max-width:100%;
	border:5px solid #fff;
	}	
.text-detail01{
	padding-left:60px;
	color:#fff;
	font-size:30px;
	}
.text-detail01 h3{
	font-size:40px;
	line-height:30px;
	margin-bottom:10px;
	}	
.t-text01 span{
	display:inline-block;
	float:left;
	width:50%;
	line-height:35px;
	}
.t-price{
	text-align:right;
	}	
.box-detail01{
	float:left;
	width:100%;
	margin-bottom:30px;
	}	
.content-section02 > img{
	position: absolute;
	right: 0;
	top: 600px;
	}	
.row-detail01{
	margin-bottom:80px;
	}
.row-detail02 h3,
.row-detail03 h3{
	font-size:40px;
	}	
.row-detail02 p,
.row-detail03 p{
	font-size:25px;
	line-height:28px;
	margin-bottom:25px;
	}
.img03 img,.img04 img,.img05 img,.img06 img,.img07 img{
	max-width:100%;
	}
.row-detail02{
	margin-bottom:60px;
	}	
.row-detail04{
	text-align:right;
	}	
.img05{
	position:relative;
	margin-top:-100px;
	display:block;
	float:left;
	width:100%;
	}	
.img06{
	position:relative;
	margin-top:-120px;
	display:block;
	float:left;
	width:100%;
	padding-left:100px;
	}	
.img07 {
    position: relative;
    margin-top: -50px;
    display: block;
    float: left;
    width: 100%;
    padding-left: 100px;
    text-align: right;
    padding-right: 50px;
}	
.content-map2f{
	height:340px;
	width:100%;
	position:relative;
	margin-top:100px;
	}		
.footer-content2f{
	padding:35px 0;
	font-size:25px;
	line-height:30px;
	}
.footer-content2f h3{
	font-size:40px;
	line-height:30px;
	    color: #363636;
	}	
.footer-content2f a,.footer-content2f p,.footer-content2f div{
	color:#898989;
	}		
/* css menumobile*/
.topmenu2f .navbar-default .navbar-toggle{
	border:none;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 0;
	}	
.topmenu2f .navbar-default .navbar-toggle:hover,
.topmenu2f .navbar-default .navbar-toggle:focus{
	background-color:transparent;
	}	
.topmenu2f .navbar-toggle .icon-bar{
	width: 35px;
    height: 4px;
	margin-top: 3px;
	}	
.topmenu2f .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
	}
.topmenu2f .navbar-toggle .icon-bar{
	border-radius:3px;
	}
.tx-menu {
    font-size: 18px;
    line-height: 18px;
    color: #fff;
	}
			