@charset "utf-8";

img.view-desktop{ display:block;}
img.view-mobile{ display:none;}
@media (max-width: 1350px){
	.img01{ right:-50px;}
	}
@media (max-width: 1200px){
	.img01{ right:0px;}
	.content-facility2f ul li{
		margin-bottom:15px;
		}
	.content-facility2f ul li img{ width:50px;}	
	.content-facility2f ul li span{ height:50px;}
	.img-facility2f img{ max-width:100%;}
	.img-facility2f{ min-height:480px;}
	.content-section02 { margin-top: 100px;}
	.content-section02 h1{ margin-bottom:50px;}
	.content-section02 > img{ top:550px;}
	
	}
@media (max-width: 1024px){
	.intro h1 { font-size: 200px; line-height: 200px;}
	.intro h2 > span{ font-size:80px;}
	.text-detail01{ font-size:25px;}
	.text-detail01 h3,.footer-content2f h3,.row-detail02 h3, .row-detail03 h3{ font-size:30px; margin-bottom:0;}
	.content-section02 h1,.content-section01 h1 { margin-bottom: 40px;font-size: 40px;}
	.t-text01 span{ line-height:30px;}
	.content-section02 > img{ height:200px;}
	.content-section02 > img {top: 500px;}
	.row-detail01 { margin-bottom: 50px;}
	.content-map2f{ margin-top:65px;}
	.footer-content2f p,.row-detail02 p, .row-detail03 p{ font-size:22px; line-height:22px;}
	.content-section01 h1{ margin-top:10px;}
	.img05{ margin-top:-50px;}
	.img06{ margin-top:-70px;}
	.img06{ padding-left:50px;}
	.navbar-brand > img{ height:50px;}
	.topmenu2f { padding-top: 10px; padding-bottom: 10px;}
	#section1{ padding-bottom:50px;}
	}
@media (max-width: 991px){
	.content-facility2f ul li{ font-size:24px;}
	.img-facility2f {min-height: 425px;}
	.content-section02 > img { height: 150px;}
	.img06{ padding-left:0px;}
	.img-facility2f{ position:relative;}
	.img-facility2f {min-height: 395px;}
	.content-section02 h1,.text-detail01{ color:#363636;}
	.content-section02 h1{ background-image:url(../images/line-gray.jpg);}
	.text-detail01{ padding-left:30px;}
	}
@media (max-width: 768px){
	.intro h1 {font-size: 170px;}
	.intro h2 > span { font-size: 70px;}
	.text-detail01,.row-detail02 p{ font-size:20px;}
	.box-detail01{ margin-bottom:10px;}
	
	}
@media (max-width: 767px){
	
	.navbar-brand > img {height: 60px;}
	.navbar-collapse {
		border-top: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.img-detail01 img{ display:block; margin:0 auto 30px;}
	.content-section02 > img{ display:none;}
	.text-detail01 {
    padding-left: 0;
    width: 100%;
    margin: 0 auto;}
	.row-detail01{ margin-bottom:30px;}
	.img04 img,.img05 img,.img06 img,.img07 img{ display:block; margin:0 auto 30px;}
	.img05,.img06,.img07{ margin-top:0;}
	.img-facility2f > div{ position:relative;}
	.img01,.img02{ display:none;}
	.intro h1 { font-size: 120px; line-height:120px;}
	.intro h2 > span { font-size: 40px; line-height: 40px;}
	.content-section01 h1 { margin-top: 0;}
	.topmenu2f{
		background-color:rgba(0,0,0,0.65);
		}	
	.img03 img,.img04 img,.img05 img,.img06 img,.img07 img{width:100%;}	
	.img07{ padding:0;}
	}
@media (max-width: 480px){
	.text-detail01{ width:100%;}
	.intro h1 { font-size:90px;}
	.navbar-brand > img { height: 50px;}
	.topmenu2f .navbar-default .navbar-toggle{ margin-top:0;}
	.img03 img,.img04 img,.img05 img,.img06 img,.img07 img{width:100%;}
	.footer-content2f{ font-size:22px;}
	.content-section02 h1, .content-section01 h1{ margin-bottom:30px;}
	img.view-desktop{ display:none;}
	img.view-mobile{ display:block;}
	}



