@charset "utf-8";

a,button{
	-moz-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in;
     -o-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in;
     -webkit-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in;
     transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in;
	 text-decoration:none;
	 }
a:hover, a:focus {
	text-decoration:none;
	}
h1{ font-size:36px;}
h2{ font-size:30px;}
h3{ font-size:24px;}
h4{ font-size:18px;}
h5{ font-size:15px;}
.nopadding{
	padding:0;
	}
.nopaddingright{
	padding-right:0;
	}
.nopaddingleft{
	padding-left:0;
	}
